ul {
  list-style-type: none;
  margin: 0;
  padding: 10px; /*this value changes the height of our navbar*/
  overflow: hidden;
  background-color: #A8CCC9; /*background color of the navbar*/
  display: flex;
  justify-content: flex-end;
}

body {
  margin: 0;
  background-color: #B3D6C6;
}

li {
  float: right;
  display: right; /* this makes our navbar horizontal, without it it will be vertical (block) by default */
  margin-right: 30px;
}

li a {
  outline: none;
  border: none;
  color: white; /*text color of the navbar links*/
  font-family: "Protest Strike", sans-serif;
  text-align: center;
  padding: 10px;

  /* get ride of underline */
  text-decoration: none;
  font-size: 16px;
  transition: font-size 0.5s ease;
}

li a:focus {
  outline: none; /* Removes the focus outline */
}

li a:hover {
  background-color: #75B9BE; /*background color of the navbar when hovering over a link*/
  font-size: 20px;
  color:rgb(0, 0, 0);
}

  
  .grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
  }
  
  
  .photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
  }
  
  .photos img {
    width: 100%;
    height: auto;
  }
  

  .feature {
    width: 200px;
    float: right;
    margin: 0 0 10px 10px;
  }


  ul {
    display: flex;
    list-style: none;
  }
  
  li {
    margin: 0 10px;
  }

  .some-page-wrapper {
    margin: 15px;
    background-color: #B3D6C6;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
  .right-column {
    height: 100px;
  }
  
  .left-column {
    height: 100px;
    width: 75%;
  }

  .h2 {
    position: left;
  }
  