/* styling for navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 10px; /*this value changes the height of our navbar*/
  overflow: hidden;
  background-color: #A8CCC9; /*background color of the navbar*/
  display: flex;
  justify-content: flex-end;
}

body {
  margin: 0;
  background-color: #B3D6C6;
}

li {
  float: right;
  display: right; /* this makes our navbar horizontal, without it it will be vertical (block) by default */
  margin-right: 30px;
}

li a {
  outline: none;
  border: none;
  color: white; /*text color of the navbar links*/
  font-family: "Protest Strike", sans-serif;
  text-align: center;
  padding: 10px;

  /* get ride of underline */
  text-decoration: none;
  font-size: 16px;
  transition: font-size 0.5s ease;
}

li a:focus {
  outline: none; /* Removes the focus outline */
}

li a:hover {
  background-color: #75B9BE; /*background color of the navbar when hovering over a link*/
  font-size: 20px;
  color:rgb(0, 0, 0);
}

.grid{
  font-size: 150;
  margin: 0 auto;
  padding: 0 5px;
  max-width: 1500px;
  background-color: #B3D6C6;
  position: sticky;
  top: 0;
  z-index: 1000;
  }
main {
    display: grid;
    grid-template-columns: 6fr 3fr;
    gap: 20px;
}
article, aside {
  padding: 10px;
}
.about {
    border-style: solid;
    border-radius: 10px;
    background-color: #ffffff;
    border-color: #ffffff;
    border-width: 1em;
    padding: .25em;
    margin: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
    transition: transform 0.s, box-shadow 0.3s; 
 }
 .about:hover {
  /* move card(s) up slightly when hovered over */
  transform: translateY(-8px); 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
h1 {
  font-size: 1em;
}
p {
  font-size: .5em;
}
.photos {
  list-style: none;
  display: grid;
  grid-template-columns: repeat( 1fr, 1fr);
  gap: 40px;
}

.photos img {
  width: 100%;
  height: 100%;
  display: block;
}
.inside {
font-size: 1.5em;
padding-left: 40px;
color: #ffffff;
}
.viewevent{
  background-color: #B3D6C6;
}
.view{
  text-align: center;
  border-style: solid;
  border-radius: 10px;
  border-color: #ffffff;
  background-color: #ffffff;
  margin-left: 20em;
  margin-right: 20em;
  border-width: .5em;
}
a{
  color:#000000;
  text-decoration: none;
}
.view:hover{
  transform: translateY(-8px); 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.more{
  padding: 10px;
  color: #000000;
  margin: 2em;
}
.moreone{
  margin: 2em;
}
h2{
  font-size: 20px;
}
p{
  font-size: 15px;
}
.season{
  font-size: 25px;
  color: #ffffff;
}
.seasonp{
  font-size: 20px;
  padding-top: 0em;
  padding-bottom: 1em ;
  padding-left: 1em;
  padding-right: 1em;
  color: #ffffff;
}
img{
  width: 20%;
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.chris{
  margin-left: 2.6em;
}