body {
  font-family: 'Teko', sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #A8CCC9; 
  color: white; 
  padding: 10px; 
}

nav ul {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
}

nav ul li {
  display: inline; 
  margin-right: 20px; 
}

nav ul li a {
  color: white; 
  text-decoration: none; 
}

/* .form {
  width: 300px; 
  margin: 20px auto;
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9; 
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
} */
/* .contact-section {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}

.image-container {
  margin-left: 10px;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
} */


/* .form h2 {
  text-align: left; 
  font-size: 2em; 
  margin-bottom: 50px;
}

.form input[type="Name"],
.form input[type="Email"] {
    width: 150px !important; 
    padding: 8px; 
    margin: 10px 0; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
} */

/* .form input, .form textarea {
  width: 200px; 
  padding: 10px; 
  margin: 10px 0; 
  border: 1px solid #ccc; 
  border-radius: 4px;  */

/* .form textarea {
  width: 200px; 
  height: 100px; 
  padding: 8px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
}

button {
  background-color: #A8CCC9; 
  color: white; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
}


.form button:hover {
  background-color: #6b8381; 
} */
.contact-ticket-section {
  display: flex; /* Align contact form and ticket form side by side */
  justify-content: space-between; /* Add space between them */
  align-items: flex-start; /* Align the forms at the top */
  margin: 20px;
}

.form, .tickets {
  width: 45%; /* Make both forms take up 45% of the available space */
  padding: 20px;
  background-color: #f9f9f9; 
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.tickets h2 {
  text-align: center; 
  font-size: 2em; 
  margin-bottom: 20px;
}

.tickets p {
  text-align: center;
  margin: 5px 0;
}

button {
  background-color: #A8CCC9; 
  color: white; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
}

.form button:hover, .tickets button:hover {
  background-color: #6b8381; 
}
.row {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around; 
  margin: 20px 0; 
}

.column {
  flex: 1 1 30%; 
  max-width: 30%; 
  margin: 10px; 
}

.card {
  background-color: #fff; 
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  overflow: hidden; 
}

.container {
  padding: 15px; 
}

.footer-bar {
  background-color: #A8CCC9; 
  color: white; 
  text-align: center; 
  padding: 10px; 
}

.social-icons a {
  color: white; 
  margin: 0 10px; 
  text-decoration: none; 
}

/* .tickets {
  width: 200px; 
  height: 100px; 
  padding: 8px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
} */

