body {
    background-color: #fff;
    color: #003538;
    margin: 0;
    font: 1.4em / 1.2 Arial, Helvetica, sans-serif;
  }
  nav {
    width: 100%; /* Full width for navbar */
    background-color: #A8CCC9; /* Navbar background color */
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: flex-end; /* Align navbar items to the right */
  }
  
  nav ul li {
    margin-left: 20px; /* Spacing between navbar items */
  }
  
  nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 0px 0px;
    display: block;
  }
  
  nav ul li a:hover {
    transform: translateY(-8px); 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
.grid{
  font-size: 150;
  margin: 0 auto;
  padding: 0 5px;
  max-width: 1500px;
  background-color: #c8eaec;
  position: sticky;
  top: 0;
  z-index: 1000;
  }
main {
    display: grid;
    grid-template-columns: 6fr 3fr;
    gap: 20px;
}
article, aside {
  padding: 10px;
}
.about {
    border-style: solid;
    background-color: #ffffff;
    border-color: #000000;
    border-width: 2px;
    padding: .25em;
    margin: 1em;
 }
 .about:hover {
  /* move card(s) up slightly when hovered over */
  transform: translateY(-8px); 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
h1 {
  font-size: 1em;
}
p {
  font-size: .5em;
}
.photos {
  list-style: none;
  display: grid;
  grid-template-columns: repeat( , 1fr);
  gap: 1px;
}

.photos img {
  width: 100%;
  display: block;
}
h2 {
font-size: 1em;
padding-left: 40px;
}
.viewevent{
  background-color: #d1ebe9;
}
.view{
  text-align: center;
  border-style: solid;
  border-radius: 10px;
  background-color: #ffffff;
}
.view:hover{
  transform: translateY(-8px); 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.more{
  padding: 10px;

}
h2{
  font-size: 20px;
}
p{
  font-size: 15px;
}