

/* styling for navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 10px; /*this value changes the height of our navbar*/
  overflow: hidden;
  background-color: #A8CCC9; /*background color of the navbar*/
  display: flex;
  justify-content: flex-end;
}

body {
  margin: 0;
  background-color: #B3D6C6;
}

.title-container {
  text-align: center; /* Center the title */
  margin: 20px 0; /* Space above and below the title */
}

.title-container h1 {
  font-size: 5em; /* Adjust the size of the title */
  font-weight: 700; /* Make the title bold */
  color: white;
  /* Outline color and width */
  -webkit-text-stroke: 1px #A8CCC9;
  text-shadow: none; /* Disable text shadow if you have any */
}

li {
  float: right;
  display: right; /* this makes our navbar horizontal, without it it will be vertical (block) by default */
  margin-right: 30px;
}

li a {
  outline: none;
  border: none;
  color: white; /*text color of the navbar links*/
  font-family: "Protest Strike", sans-serif;
  text-align: center;
  padding: 10px;

  /* get ride of underline */
  text-decoration: none;
  font-size: 16px;
  transition: font-size 0.5s ease;
}

li a:focus {
  outline: none; /* Removes the focus outline */
}

li a:hover {
  background-color: #75B9BE; /*background color of the navbar when hovering over a link*/
  font-size: 20px;
  color:black;
}


/* when you click on text */
li a:active {
  background-color: white;
  color: lightblue;
}

/* Styles for Images Grid */
.content-container {
  padding: 20px; 
  min-height: 100vh; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: flex-start; 
  margin-top: 60px; 
}

 .images-container {
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  width: 100%;
  max-width: 1000px; 
  margin: 20px 0; 
}

.images-container img {
  width: 100%; 
  height: auto; 
  border-radius: 8px; 
  transition: transform 0.3s ease;
}

.images-container img:hover{
    /* scale image up by 10% when hovered over */
    transform: scale(1.6); 
 } 


/* media query */
@media screen and (max-width: 480px) {
  body {
      background-color: lightgreen;
  }
  ul {
      flex-direction: column;
  }
  li a {
      width: 100vw;
  }
}